# ⭐ Configurações do Banco de Dados
DB_HOST=seu-host-aqui
DB_PORT=3306
DB_NAME=nome-do-banco
DB_USERNAME=seu-usuario
DB_PASSWORD=sua-senha

# ⭐ Configurações de Email
EMAIL_USERNAME=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app-16-digitos