# ⭐ Configurações do Banco de Dados
DB_HOST=seu-host-aqui
DB_PORT=3306
DB_NAME=nome-do-banco
DB_USERNAME=seu-usuario
DB_PASSWORD=sua-senha

# ⭐ Configurações de Email
EMAIL_USERNAME=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app-16-digitos

# ⭐ Configurações de Segurança
JWT_SECRET_KEY=sua-chave-secreta-muito-forte-com-pelo-menos-256-bits
JWT_EXPIRATION=tempo-em-milissegundos-para-expiração-de-token-jwt

# ⭐ Configurações de CORS Origins
CORS_ORIGINS=endereços-para-cors-ex:http://localhost:8080

# ⭐ Configurações de Reset de Senha
PASSWORD_RESET_BASE_URL=url-base-para-gerar-o-link-para-troca-de-senha
PASSWORD_RESET_TOKEN_EXPIRY_HOURS=horas-para-expiração-de-token